.menu {
    background-color: var(--bg-secondary);
    left: 0;
    list-style: none;
    position: absolute;
    top: 65px;
    width: 100%;
}

.menu li {
    padding: 15px 22px;
    text-align: right;
}

.menu li a {
    color: var(--text-seconday);
    text-decoration: none;
}

.menu li a.active {
    color: var(--text-tertiary);
    font-family: 'RobotoCondensed-Bold';
}