.experience {
    display: flex;
    flex-direction: column;
    margin-bottom: 60px;
}

.experience:last-child {
    margin-bottom: 0;
}

.experience .entity-info {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.experience .entity-info .entity-info--details {
    align-items: center;
    display: flex;
}

.experience .entity-info .entity-info--details .entity-info--details_name,
.experience .entity-info .entity-info--details .entity-info--details_position {
    font-family: 'RobotoCondensed-Bold';
    text-transform: uppercase;
}

.experience .entity-info .entity-info--details .entity-info--details_name {
    color: var(--text-tertiary);
}

.experience .entity-info .entity-info--details .entity-info--details_position {
    font-size: 13px;
}

.experience .entity-info .entity-info--timeframe {
    font-family: 'RobotoCondensed-Bold';
    font-size: 13px;
    text-transform: uppercase;
}