.section {
    background-color: var(--bg-primary);
    color: var(--text-primary);
    display: flex;
    flex-direction: column;
    padding: 75px 30px;
}

.section.secondary {
    background-color: var(--bg-secondary);
    color: var(--text-secondary);
}