.header {
    align-items: center;
    background-color: var(--bg-secondary);
    display: flex;
    justify-content: space-between;
    padding: 15px 20px;
    position: fixed;
    width: 100%;

    transition: top .2s ease-in;
}

.header.show {
    top: 0;
}

.header.hide {
    top: -65px;
}

.header .logo {
    background-color: var(--bg-primary);
    border-radius: 20px;
    color: var(--text-primary);
    font-family: var(--font-family-primary);
    font-size: 16px;
    font-weight: var(--font-weight-bold);
    padding: 2px 8px;
}

.header .actions {
    align-items: center;
    display: flex;
    flex-direction: row;
}

.header .actions .trigger {
    margin-left: 30px;
}

.header .actions .trigger.geo {
    background-image: url('../../assets/ic_language_black_48dp.png');
    background-size: cover;
    height: 30px;
    width: 30px;
}

.header .actions .trigger.geo.active {
    background-image: url('../../assets/ic_language_black_48dp_red.png');
}

.header .actions .trigger.nav {
    background-image: url('../../assets/ic_menu_black_48dp.png');
    background-size: cover;
    height: 35px;
    width: 35px;
}

.header .actions .trigger.nav.active {
    background-image: url('../../assets/ic_menu_black_48dp_red.png');
}